@import 'src/styles/utils.scss';
@import 'src/styles/palette.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: grid_units(17) grid_units(4);
  background-color: $grey-white;
  text-align: center;
}

.header {
  padding-bottom: grid_units(8);
}

.image {
  width: grid_units(34);
  height: grid_units(34);
  padding: grid_units(4);
  border-radius: 50%;
}

.socialMedia {
  margin-top: grid_units(3);
  margin-bottom: grid_units(6);
  list-style: none;

  & > li {
    display: inline-block;
    margin: 0 grid_units(2);

    & > a {
      text-decoration: none;

      & > *:hover {
        color: $burgundy;
      }
    }
  }
}

.bio {
  max-width: grid_units(160);
  padding-right: grid_units(4);
  padding-left: grid_units(4);
  text-align: center;
}
