@import '../../styles/utils';
@import '../../styles/palette';

.common {
  padding-bottom: grid_units(2);
  color: $black;
}

.titleBig {
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 5.5px;
  line-height: 1.2;
  text-transform: uppercase;
}

.title {
  font-size: 26px;
  font-weight: 300;
  line-height: 1.2;
  text-transform: uppercase;
}

.titleSmall {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 3.5px;
  line-height: 1.5;
  text-transform: uppercase;
}

.paragraphLead {
  font-size: 20px;
  font-weight: 500;
  line-height: 31.6px;

  strong {
    font-weight: bold;
  }
}

.paragraph {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;

  strong {
    font-weight: bold;
  }
}

.paragraphSmall {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;

  strong {
    font-weight: bold;
  }
}

.footNote {
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;

  strong {
    font-weight: bold;
  }
}
