@import 'src/styles/utils';
@import 'src/styles/palette';

.common {
  margin-bottom: 1em;
  line-height: 1.5;
  color: $light-gray;

  strong {
    font-weight: bold;
  }
}

.titleBig {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2.5rem;
}

.title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2rem;
}

.titleSmall {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.paragraphBig {
  font-size: 1.4rem;
}

.paragraph {
  font-size: 1rem;
}

.paragraphSmall {
  font-size: 0.85rem;
}

.footNote {
  font-size: 0.7rem;
}
