@import 'src/styles/utils.scss';

.container {
  z-index: 1;
  max-width: grid_units(72);
  margin-bottom: grid_units(6);
  padding-top: grid_units(2);
  padding-bottom: grid_units(2);
  background-color: inherit;
}

.right {
  margin-top: grid_units(30);

  & > h4,
  & > p {
    background-color: inherit;
  }

  @media screen and (min-width: 940px) {
    min-height: grid_units(45);
    margin-top: 0;
    margin-left: grid_units(108);
    text-align: left;
  }
}

.left {
  margin-top: grid_units(28);

  & > h4,
  & > p {
    background-color: inherit;
  }

  @media screen and (min-width: 940px) {
    min-height: grid_units(45);
    margin-top: 0;
    margin-right: grid_units(108);
    text-align: right;
  }
}

.hidden {
  visibility: hidden;
}
