@import 'src/styles/utils.scss';
@import 'src/styles/palette.scss';

.container {
  list-style: none;

  & > li {
    display: inline-block;
    margin: 0 grid_units(2);

    & > a {
      text-decoration: none;

      & > *:hover {
        color: $medium-purple;
      }
    }
  }
}

.hiddenTextForAccessibility {
  color: transparent;
  font-size: 0;
  line-height: 0;
}
