@import 'src/styles/utils.scss';
@import 'src/styles/palette.scss';

.container {
  margin-top: grid_units(3);
  margin-bottom: grid_units(6);
  list-style: none;

  & > li {
    display: inline-block;
    margin: 0 grid_units(2);

    & > a {
      text-decoration: none;

      & > *:hover {
        color: $burgundy;
      }
    }
  }
}
