:root {
  --white: #fff;
  --black: #000;
  --charcoal: #2d4454;
  --blue-dark: #094067;
  --blue: #2978b5;
  --blue-bright: #2766d6;
  --red: #ff3f27;
  --burgundy: #97294b;
  --grey-metallic: #a2a2a9;
  --grey-light: #d1d1d4;
  --grey-platinum: #e4e4e6;
  --grey-white: #f7f7f7;
}
