:root {
  --white: #fff;
  --black: #333;
  --charcoal: #2d4454;
  --burgundy: #b03059;
  --wild-blue: #9eacca;
  --light-gray: #d8d8d8;
  --raisin-black: #1a202c;
  --minion-yellow: #fde74c;
  --light-green: #7cf49c;
  --medium-purple: #886ac8;
}
