$white: var(--white);
$black: var(--black);
$charcoal: var(--charcoal);

$blue-dark: var(--blue-dark);
$blue: var(--blue);

$red: var(--red);
$burgundy: var(--burgundy);

$grey-metallic: var(--grey-metallic);
$grey-light: var(--grey-light);
$grey-white: var(--grey-white);
