$white: var(--white);
$black: var(--black);
$charcoal: var(--charcoal);
$burgundy: var(--burgundy);
$wild-blue: var(--wild-blue);
$light-gray: var(--light-gray);
$raisin-black: var(--raisin-black);
$minion-yellow: var(--minion-yellow);
$light-green: var(--light-green);
$medium-purple: var(--medium-purple);