@import 'src/styles/utils.scss';
@import 'src/styles/palette.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: grid_units(17) grid_units(4);
  background-color: $white;
  text-align: center;
}

.header {
  padding-bottom: grid_units(8);
}

.skillsContainer {
  display: grid;
  grid-gap: grid_units(15);
  grid-template-columns: repeat(auto-fit, minmax(grid_units(50), 1fr));
  align-items: start;
  width: 100%;
  max-width: grid_units(200);
  padding-right: grid_units(4);
  padding-left: grid_units(4);
  text-align: center;
}

.headIcon {
  color: $burgundy;
  font-size: 40px;
}

.skillHeaderText {
  margin-top: grid_units(2);
  margin-bottom: grid_units(4);
}

.skillsLogos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;

  & > div {
    margin: grid_units(2);
  }
}

.skillIcon {
  margin-bottom: grid_units(1);
  color: $burgundy;
  font-size: 35px;
}

.iconWithDescription {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
