@import 'src/styles/utils.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/images/cover.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.title,
.subtitle {
  padding-right: grid_units(4);
  padding-left: grid_units(4);
  color: white;
  text-transform: uppercase;
}
