@import 'src/styles/utils.scss';
@import 'src/styles/palette.scss';

.image {
  width: grid_units(34);
  height: grid_units(34);
  margin: grid_units(4);
  border-radius: 50%;
}

.socialMediaLinks {
  margin-top: grid_units(3);
  margin-bottom: grid_units(6);
}

.bio {
  max-width: grid_units(140);
  padding-right: grid_units(4);
  padding-left: grid_units(4);
  text-align: center;
}

.hidden {
  visibility: hidden;
}
