@import 'src/styles/utils.scss';

.container {
  max-width: grid_units(200);
  margin: auto;
  padding: grid_units(15) grid_units(4);
  text-align: justify;

  & ul {
    list-style-type: circle;
    list-style: circle;

    & li {
      margin-left: grid_units(8);
    }
  }
}

.lastModifiedDate {
  margin-bottom: grid_units(6);
  font-weight: bold;
}

.title {
  margin-top: grid_units(6);
  font-weight: bold;
  text-align: center;
}
