@import 'src/styles/utils.scss';
@import 'src/styles/palette.scss';

.container {
  max-width: grid_units(200);
  margin: auto;
  padding: grid_units(15) grid_units(4);
  text-align: justify;

  & li::before {
    content: \\2022;
    display: inline-block;
    width: 1em;
    color: $burgundy;
    font-weight: bold;
  }
}

.lastModifiedDate {
  margin-bottom: grid_units(6);
  font-weight: bold;
}

.title {
  margin-top: grid_units(6);
  font-weight: bold;
  text-align: center;
}
