@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html, body {
  min-height: 100vh;
  background-color: #0D1219;
  @apply text-gray-100;
}

html, body, header {
  background-color: #0D1219;
  @apply text-gray-100;
}

::selection {
  color: #0D1219;
  background: #F3F4F6;
}