@import 'src/styles/utils.scss';
@import 'src/styles/palette.scss';

.career {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  max-width: grid_units(180);
  margin-top: grid_units(4);
  margin-bottom: grid_units(4);
  background-color: inherit;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(50% - 1px);
    width: 2px;
    background-color: $burgundy;
  }
}

.step {
  display: flex;
  align-items: flex-start;
  align-self: center;
  justify-content: center;
  width: 100%;
  background-color: inherit;
}

.stepImage {
  position: absolute;
  left: 50%;
  width: grid_units(24);
  height: grid_units(24);
  margin-left: grid_units(-12);
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 20px -10px $rich-black;
}
