@import 'src/styles/utils.scss';
@import 'src/styles/palette.scss';

.container {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
}

.contentContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: grid_units(2) grid_units(5);
}

.titleContainer {
  min-height: grid_units(11);
}

.title {
  position: sticky;
  margin-bottom: grid_units(2);

  @include screenIn(smallTablet) {
    margin-top: grid_units(1);
    margin-bottom: grid_units(1);
  }

  font-size: 2.25rem;
  font-weight: bold;
  text-transform: none;

  em {
    color: $burgundy;
    font-style: normal;
  }
}
.menu {
  border-color: $grey-light;
  color: $grey-light;

  @include screenIn(smallTablet) {
    margin-top: grid_units(3);
  }

  * {
    border-color: $grey-light;
    color: $grey-light;
  }
}

.solid {
  border-color: $black;
  background-color: $white;
  color: $black;

  * {
    border-color: $black;
    color: $black;
  }
}

.shadow {
  box-shadow: 0 0 20px -10px $rich-black;
}
