@import 'src/styles/utils.scss';
@import 'src/styles/palette.scss';

.container {
  display: grid;
  position: relative;
  grid-gap: grid_units(4);
  grid-template-columns: repeat(auto-fit, minmax(grid_units(45), 1fr));
  padding: grid_units(4);
  background-color: $rich-black;

  & > * {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $light-gray;
  }

  @include screenIn(smallDesktop) {
    & > :nth-child(2) {
      justify-content: flex-start;
    }

    & > :last-child {
      justify-content: flex-end;
    }
  }
}

.copyright {
  margin: 0;
}

.socialMediaLinks i,
.link {
  color: $light-gray;
}
