@import 'src/styles/utils.scss';
@import 'src/styles/palette.scss';

.container {
  align-items: center;
  justify-content: center;
  max-width: grid_units(200);
  margin: auto;
  text-align: center;
}
